body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Space Mono', monospace;
}
.row{margin:0 15px;}
.m-0{margin:0;}
.mt-1{margin-top:1rem;}
.mb-1{margin-bottom:1rem;}

.ml-1{margin-left:1rem;}
.mr-1{margin-right:1rem;}
.mr-2{margin-right:2rem;}
.ml-2{margin-left:2rem;}
.p-1{padding:1rem;}
.two-five{width:25%;}
.thirty{width:30%;}
.forty{width:40%}
.fifty{width:50%;}
.sixty{width:60%;}
.inline-block{display: inline-block;}
.block-container{
    background-color: rgb(8, 54, 79);
    min-height:200px;
}
.block-content{
    color:white;
}
.info{
    background:rgb(65, 140, 181);
    border-top:1px solid rgb(225, 97, 0);
    padding: .5rem 1rem;
}
.info span{background-color: rgb(107, 225, 238);display:inline-block;padding:0 5px;font-size: 14px;}
.block-flex{
    display:flex;
}
.block-flex-align-center{
    align-items: center;
}
.block-flex-space-around{
    justify-content: space-around;
}
.block-flex-space-between{
    justify-content: space-between;
}
.block-flex-space-evenly{
    justify-content: space-evenly;
}
.block-flex-start{
    justify-content: flex-start;
}
.block-flex-end{
    justify-content: flex-end;
}
.block-flex-reverse{
flex-flow: row-reverse wrap-reverse;
}
.block-flex-column-reverse{
flex-flow: column-reverse;
}
.block-flex-justify-center{
    justify-content: center;
}
.block-il-tr{
    position: relative;
    left:10%;
    width:90%;
}

img.responsive{
    width:100%;
    margin:0 auto;
}

@media screen and (max-width: 800px) {
    .block-flex{
        flex-direction: column;
        justify-content: center;
    }
  }