body{
    margin: 0;
    padding: 0;
}

.block-container{
    background-color: #374F67;
    min-height:500px;
}
.block-container h1, .block-container p{color:white;}
.block-flex{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.block-il-tr{
    position: relative;
    left:10%;
    width:90%;
}

@media screen and (max-width: 800px) {
    .block-flex{
        flex-direction: column;
        justify-content: center;
    }
  }